body {
  margin: 0;
}
span.logginedIn {
  min-width: 222px;
  color: #fff;
  font-weight: bold;
  text-align: right;
}
.error{
  color:#f00;
  font-size: 12px;
}
.media-object{
  max-width: 100%;
  margin-top: 30px;
}
ul.tetrisLeaderBoard {
  padding: 0;
  max-width: 500px;
  margin: 15px auto;
}
ul.tetrisLeaderBoard li {
  margin: 5px;
  
  background: #eee;
}
ul.tetrisLeaderBoard li.bg-success label { background-color: #18652a;}
ul.tetrisLeaderBoard li.bg-danger label { background-color: #a92d39;}
ul.tetrisLeaderBoard li.bg-warning label { background-color: #caa22d;}
ul.tetrisLeaderBoard li i.gamepad.icon {
  height: 36px;
  line-height: 36px;
  font-size: 18px;
}
ul.tetrisLeaderBoard li label {
  background-color: #dcd8d8;
  height: 36px;
  display: block;
  width: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 36px;
  margin: 2px auto;
}

@font-face {
  font-family: 'Pixel';
  src: url('font/Pixel-LCD-7.woff') format('woff');
}
